<!-- ==================== NAVBAR ==================== -->
  <nav class="navbar navbar-expand-lg navbar-custom sticky-top">
    <div class="container">
     
      <div class="collapse navbar-collapse order-lg-1" id="mainNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="navbar-brand order-lg-2 ms-lg-auto" href="#">
            <i class="bi bi-bag-check-fill me-1"></i>Shop<span>Kart</span>
            </a>
          </li>
          <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="#mobiles">Mobiles</a></li>
          <li class="nav-item"><a class="nav-link" href="#electronics">Electronics</a></li>
          <li class="nav-item"><a class="nav-link" href="#men">Men</a></li>
          <li class="nav-item"><a class="nav-link" href="#women">Women</a></li>
        </ul>

        <form class="d-flex search-box mx-lg-3 my-2 my-lg-0" role="search">
          <input class="form-control" type="search" placeholder="Search products..." aria-label="Search">
          <button class="btn" type="submit"><i class="bi bi-search"></i></button>
        </form>
      </div>

      <div class="d-flex align-items-center gap-3 order-lg-3 ms-lg-3">
        <button class="btn btn-login d-none d-lg-inline-flex">
          <i class="bi bi-person-circle me-1"></i> Login
        </button>
      </div>
    </div>
  </nav>

